input {
  gelf {
    port => 12201
  }
  log4j {
    mode => "server"
    port => 9500
    add_field => {
      facility => "elasticsearch"
    }
  }
  syslog {
    port => 514
  }
}

filter {
  geoip {
    source => "ips"
  }
}

output {
  elasticsearch {  %ES_CONF%  }
}
