input {
  gelf {
    port => 12201
    remap => true
    strip_leading_underscore => true
    nested_objects => true
  }
  log4j {
    mode => "server"
    port => 9500
    add_field => {
      facility => "elasticsearch"
    }
  }
  tcp {
    port => 514
    type => "syslog"
  }
  udp {
    port => 514
    type => "syslog"
  }
}

filter {
  geoip {
    source => "ips"
  }
}

output {
  elasticsearch {  %ES_CONF%  }
}
